<h1>Playlistr</h1>

<% @users.each do |user| %>
<table>
  <thead>
    <tr>
      <th> Playlists for <%= user.name %></th>
      <th><%= link_to "Create a new playlist", new_list_path %>
    </tr>
  </thead>
  <tbody>
    <%= user.lists.each do |list| %>
      <tr>
        <td><%= list.name %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

